h2{
    font-family: 'Racing Sans One', cursive;
    
}

.navbar-default{
    background-color: #F1F1EF;
    
}
.navbar-brand{
    font-family: 'Satisfy', cursive;
}
.row{

    background-color: azure;
}

article .welcome{
    text-align: center;
    text-decoration: underline;
    padding-bottom: 1em;
    color:rgb(71, 71, 71);
}
article .about{
    text-decoration: underline;
    padding-bottom: 1em;
    color: rgb(47, 111, 163);

}
aside h2 {
    color: rgb(39, 40, 41);
}
.navbar-nav li a:hover{
    text-decoration: underline;
    
}