h2{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    
}

.navbar-default{
    background-color: #F1F1EF;
    
}
.navbar-brand{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.row{

    background-color: azure;
}

article .welcome{
    text-align: center;
    text-decoration: underline;
    padding-bottom: 1em;
    color:rgb(71, 71, 71);
}
article .about{
    text-decoration: underline;
    padding-bottom: 1em;
    color: rgb(47, 111, 163);

}
aside h2 {
    color: rgb(39, 40, 41);
}



.navbar-nav li a:hover{
    background-color: white;
    text-decoration: underline; 
    transform: scale(1.2);
    vertical-align: middle;
    text-decoration-color: rgb(99, 170, 99);
    
   
}


table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  table tr:nth-child(even){background-color: rgb(251, 252, 253);}
  
  table tr:hover {background-color: #ddd;}
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(99, 170, 99);
    color: white;
  }

 .homelist li{
     height: 30px;
     width: 100px;
     font-size: medium;
 }

 .introp {
    line-height: 25px;
    font-size: medium;
 }